/* 設定 */
#main_nav {
    min-width: 20rem;
}

/* 設定開くボタン */
#btn_open {
    float: left;
    margin: 1rem;
    font-size: 1.5rem;
}

/* 設定閉じるボタン */
#btn_close {
    float: right;
    margin-right: 1rem;
    font-size: 2.5rem;
}

@media(max-width:576px) {
    #main {
        flex-direction: column;
    }

    #main_nav {
        height: 17rem;
        overflow: auto;
    }

    /* 設定開くボタン */
    #btn_open {
        text-align: right;
    }
}

/* 設定入力 */
#main_nav form input,
#main_nav form select {
    margin-bottom: 1rem;
}

/* 範囲入力 */
.range-input {
    display: inline-block;
    width: 6rem;
    padding-top: 0.5rem;
}

/* 範囲ラベル */
.range-label {
    display: inline-block;
    width: 1.5rem;
}

/* 範囲ラベル大 */
.range-label-l {
    display: inline-block;
    width: 5rem;
}

/* しきい値％ */
#num_threshold_rate {
    display: inline-block;
    width: 4.5rem;
}

/* 判定エラー */
#main_nav legend {
    float: none;
}

/* メインパネル */
article {
    min-width: 0;
}

/* 正常画像 */

#div_train img {
    padding-right: 1rem;
}

/* 画像拡大 */
.i-modal {
    color: transparent;
}

.i-modal:hover {
    color: inherit;
}