<!DOCTYPE html>
<html lang="ja" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>異常検知</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css?d=1') }}">
</head>

<body class="d-flex flex-column h-100">
    <header class="p-2 pb-0 bg-primary-subtle">
        <h1>異常検知デモ</h1>
    </header>
    <main id="main" class="d-flex">
        <i id="btn_open" class="fa fa-cog menu-open" aria-hidden="true"></i>
        <nav id="main_nav" class="p-2 bg-primary-subtle">
            <a id="btn_close" type="button">&times;</a>
            <div>
                <h2>設定</h2>
                <form id="form" method="post" enctype="multipart/form-data">
                    <fieldset id="fld_predict_cond">
                        <label for="file_train" class="form-label">正常画像を3枚以上選択してください。</label>
                        <input name="file_train" id="file_train" type="file" multiple accept="image/*"
                            class="form-control" />
                        <label for="file_test" class="form-label">検査画像を1枚以上選択してください。</label>
                        <input name="file_test" id="file_test" type="file" multiple accept="image/*"
                            class="form-control" />
                        <input name="btn-start" id="btn-start" type="submit" class="btn btn-primary" value="検査開始" />
                        <br />
                        <input name="chk_sample" id="chk_sample" type="checkbox" class="form-check-input" />
                        <label for="chk_sample" class="form-label">サンプルデータ使用</label>
                        <select name="sel_mvtec" id="sel_mvtec" disabled="true" class="form-select">
                            <option value="hazelnut_reduced">ヘーゼルナッツ</option>
                            <option value="transistor_reduced">トランジスタ</option>
                        </select>
                        <label for="sel_method" class="form-label">method</label>
                        <select name="sel_method" id="sel_method" class="form-select">
                            <option value="PatchCore">PatchCore</option>
                            <option value="PaDiM">PaDiM</option>
                            <option value="SPADE">SPADE</option>
                        </select>
                        <label for="sel_backbone" class="form-label">backbone</label>
                        <select name="sel_backbone" id="sel_backbone" class="form-select">
                            <option value="efficientnet_b0">efficientnet_b0</option>
                            <option value="tf_mobilenetv3_small_100">tf_mobilenetv3_small_100</option>
                        </select>
                        <label class="form-label">色範囲</label>
                        <div id="div_color" class="range-label-l"></div>
                        <div id="sld_color"></div>
                        <input name="hdn_color_min" id="hdn_color_min" type="hidden" />
                        <input name="hdn_color_max" id="hdn_color_max" type="hidden" />
                        <input name="chk_relative" id="chk_relative" type="checkbox" class="form-check-input" />
                        <label for="chk_relative" class="form-label">色範囲に相対値使用</label><br />
                    </fieldset>
                    <fieldset id="fld_error_cond" class="border border-secondary-subtle p-2">
                        <legend class="w-auto">エラー判定</legend>
                        <label for="rng_threshold" class="form-label">しきい値</label>
                        <input name="rng_threshold" id="rng_threshold" type="range" min="0" max="255" value="30"
                            class="form-range range-input" />
                        <div id="div_threshold" class="form-label range-label"></div>
                        <input name="num_threshold_rate" id="num_threshold_rate" type="number" min="1" max="100"
                            value="35" step="0.1" class="form-control" />
                        <span>%</span>
                        <br />
                        <label for="rng_threshold_min" class="form-label">スコア最小値</label>
                        <input name="rng_threshold_min" id="rng_threshold_min" type="range" min="1" max="255" value="20"
                            class="form-range range-input" />
                        <div id="div_threshold_min" class="form-label range-label"></div>
                        <br />
                        <label for="rng_threshold_max" class="form-label">スコア最大値</label>
                        <input name="rng_threshold_max" id="rng_threshold_max" type="range" min="1" max="255" value="40"
                            class="form-range range-input" />
                        <div id="div_threshold_max" class="form-label range-label"></div>
                    </fieldset>
                    <input name="hdn_value_changed" id="hdn_value_changed" type="hidden" />
                    <input name="hdn_current" id="hdn_current" type="hidden" />
                    <input name="hdn_test_size" id="hdn_test_size" type="hidden" />
                </form>
            </div>
        </nav>
        <article class="flex-grow-1 p-2">
            <div id="index_message">
                <em>SPADE</em>、<em>PaDiM</em>、<em>PatchCore</em>の３つの方法で異常検知を試せます。<br />
                左のサイドパネルで画像を選択し実行してください。<br />
                学習後結果が表示されます。<br />
                MVTecデータセットをダウンロードしてテストすることもできます。
            </div>
            <div id="result_message" class="bg-success-subtle border border-success-subtle rounded-2"></div>
            <div id="result" class="container text-center">
                <div class="row">
                    <h2 class="col">正常画像</h2>
                </div>
                <div class="row">
                    <div id="div_train" class="col d-flex overflow-auto"></div>
                </div>
                <div class="row pt-3">
                    <button id="btn_prev" class="col-1 btn btn-outline-primary">&lt;</button>
                    <div id="div_current" class="col-10">1/1</div>
                    <button id="btn_next" class="col-1 btn btn-outline-primary">&gt;</button>
                </div>
                <div class="row row-cols-md-3 row-cols-1">
                    <div class="col order-md-first order-first">
                        <h3>検査画像</h3>
                    </div>
                    <div class="col order-md-4 order-2 position-relative">
                        <i class="bi bi-arrows-angle-expand fs-4 position-absolute top-0 end-0 pe-3 i-modal"
                            data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-title="検査画像"
                            data-bs-imgid="img_sample"></i>
                        <img id="img_sample" class="h-100 w-100" />
                    </div>
                    <div class="col order-md-2 order-3">
                        <h3>Anomary map</h3>
                    </div>
                    <div class="col order-md-5 order-4 position-relative">
                        <i class="bi bi-arrows-angle-expand fs-4 position-absolute top-0 end-0 pe-3 i-modal"
                            data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-title="Anomary map"
                            data-bs-imgid="img_fmap"></i>
                        <img id="img_fmap" class="h-100 w-100" />
                    </div>
                    <div class="col order-md-3 order-5">
                        <h3>結果</h3>
                    </div>
                    <div class="col order-md-last order-last position-relative">
                        <i class="bi bi-arrows-angle-expand fs-4 position-absolute top-0 end-0 pe-3 i-modal"
                            data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-title="結果"
                            data-bs-imgid="img_overlay"></i>
                        <img id="img_overlay" class="h-100 w-100" />
                    </div>
                </div>
                <div class="row">
                    <div id="div_score" class="col pt-1 fs-5"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <i class="bi bi-arrows-angle-expand fs-4 position-absolute top-0 end-0 pe-3 i-modal"
                            data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-title="スコア"
                            data-bs-imgid="img_hist"></i>
                        <img id="img_hist" class="w-100" />
                    </div>
                </div>
            </div>
            </div>
        </article>
    </main>
    <footer class="footer mt-auto p-2">copyright</footer>
    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="imageModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <img class="w-100 h-100 object-fit-contain" />
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='/js/script.js?d=1') }}"></script>
</body>

</html>